<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>15C50</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Folders</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>fold</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>SourceTree</string>
	<key>CFBundleHelpBookFolder</key>
	<string>SourceTree Help</string>
	<key>CFBundleHelpBookName</key>
	<string>SourceTree Help</string>
	<key>CFBundleIconFile</key>
	<string>sourcetree.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.torusknot.SourceTreeNotMAS</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>SourceTree</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>SourceTree URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>sourcetree</string>
				<string>github-mac</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>2.1</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>7C68</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>15C43</string>
	<key>DTSDKName</key>
	<string>macosx10.11</string>
	<key>DTXcode</key>
	<string>0720</string>
	<key>DTXcodeBuild</key>
	<string>7C68</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.developer-tools</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.9</string>
	<key>LSMinimumSystemVersionByArchitecture</key>
	<dict>
		<key>i386</key>
		<string>10.9.5</string>
		<key>x86_64</key>
		<string>10.9.5</string>
	</dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2010-2015 Atlassian.
All Rights Reserved.</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Open in SourceTree</string>
			</dict>
			<key>NSMessage</key>
			<string>openInSourceTree</string>
			<key>NSRequiredContext</key>
			<dict>
				<key>NSTextContent</key>
				<string>FilePath</string>
			</dict>
			<key>NSSendTypes</key>
			<array>
				<string>NSFilenamesPboardType</string>
			</array>
		</dict>
	</array>
	<key>SMPrivilegedExecutables</key>
	<dict>
		<key>com.atlassian.SourceTreePrivilegedHelper2</key>
		<string>identifier com.atlassian.SourceTreePrivilegedHelper2 and certificate leaf[subject.CN] = "Developer ID Application: Atlassian Pty Ltd"</string>
	</dict>
	<key>SUFeedURL</key>
	<string>http://www.sourcetreeapp.com/update/SparkleAppcast.xml</string>
	<key>SUPublicDSAKeyFile</key>
	<string>SparkleUpdate_pub.pem</string>
</dict>
</plist>
